This program imports a catchment shapefile containing catchment ID with no rivers within them. It then assigns a river ID (not real) so it can be used as the column ID in HYPE input

In [33]:
import geopandas as gpd

In [34]:
#read shapefile with river ID 0
shp=gpd.read_file('/home/paulc600/github/StMaryMilk2023-UofC/modified_TGF/smm_tgf_modified/smm_cat.shp')

In [35]:
#check how many 0s there are in the river IDs (row number)
shp[shp['seg_nhm']==0].shape

(14, 13)

In [37]:
#check maximum value of river ID, we will add to it
shp['seg_nhm'].max()

58661

In [38]:
#adds values starting at the maximum river ID. 14 is added because that is how many zero 
#values there are, modify as needed
shp.loc[shp['seg_nhm']==0 , 'seg_nhm']=range(shp['seg_nhm'].max()+1, shp['seg_nhm'].max()+15)

In [39]:
#check that there are no 0s
shp

,hru_nhm,seg_nhm,POI_ID,hru_id,hru_segmen,hru_id_tb,hru_segm_1,Type_NCA,HUC04,Coastal_HR,Shape_Leng,Shape_Area,geometry
0,113602,58183,6.500040e+13,113,3,3651,1723,0,0904,0,28637.472967,3.652090e+07,"POLYGON ((-112.87990 49.58915, -112.87988 49.5..."
1,113598,58184,6.500040e+13,109,4,3647,1724,0,0904,0,22917.257393,1.750700e+07,"POLYGON ((-112.84816 49.57293, -112.84776 49.5..."
2,113588,58185,6.500040e+13,99,5,3637,1725,0,0904,0,10941.686207,5.667200e+06,"POLYGON ((-112.83280 49.56569, -112.83283 49.5..."
3,113584,58186,6.500040e+13,95,6,3633,1726,0,0904,0,47581.126463,3.803350e+07,"POLYGON ((-112.83256 49.56479, -112.83243 49.5..."
4,113577,58188,6.500040e+13,88,8,3626,1728,0,0904,0,11865.104926,2.801800e+06,"POLYGON ((-112.93812 49.51740, -112.93809 49.5..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,114309,58671,2.300280e+13,699,0,4358,0,1,1005,0,202460.006602,3.860121e+08,"MULTIPOLYGON (((-108.52850 49.15148, -108.5286..."
469,114313,58672,2.300280e+13,703,0,4362,0,1,1005,0,295200.002203,9.586554e+08,"MULTIPOLYGON (((-108.67155 49.02478, -108.6714..."
470,114322,58673,2.300280e+13,712,0,4371,0,1,1005,0,188640.001102,2.876408e+08,"MULTIPOLYGON (((-108.96500 49.40234, -108.9650..."
471,114388,58674,2.300280e+13,778,0,4437,0,1,1005,0,105620.001701,2.727878e+08,"POLYGON ((-110.30901 48.72789, -110.30899 48.7..."
472,114417,58675,2.300280e+13,807,0,4466,0,1,1005,0,129339.991902,2.730521e+08,"POLYGON ((-108.01514 48.95160, -108.01512 48.9..."

In [40]:
#output new shapefile
shp.to_file('Modified_SMMcat.shp')