In [1]:
import pandas as pd

### Read files

In [2]:
geodata = pd.read_csv('../model/GeoData.txt', header=0, index_col=0, sep='\t')

In [3]:
# Open the text file in read mode
with open('../geospacial/stmary_seg', 'r') as file:
    # Read the lines of the file into a list
    lines = file.readlines()

# Optionally, you may strip newline characters from each line
stmary_seg = [line.strip() for line in lines]

In [17]:
global_par= ['damp', 'rivvel']

In [5]:
geodata

,maindown,area,longitude,latitude,elev_mean,slope_mean,rivlen,hds_depth,SLC_1,SLC_2,...,SLC_108,SLC_109,SLC_110,SLC_111,SLC_112,SLC_113,SLC_114,SLC_115,SLC_116,SLC_117
subid,,,,,,,,,,,,,,,,,,,,,
58675,-9999,2.730521e+08,-107.976305,48.849060,860.715027,0.00000,129339.991902,2.232598,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
58674,-9999,2.727878e+08,-110.181345,48.645243,851.569946,0.00000,105620.001701,0.509844,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
58673,-9999,2.876408e+08,-109.130976,49.315396,988.979126,0.00000,188640.001102,2.674205,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
58672,-9999,9.586554e+08,-108.892603,49.169295,948.367615,0.00000,295200.002203,1.646900,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
58671,-9999,3.860121e+08,-108.661660,49.257402,922.959106,0.00000,202460.006602,0.782555,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58185,58184,5.667200e+06,-112.839964,49.570476,909.549744,0.00163,1671.934918,0.000000,0.0,0.0,...,0.017857,0.000000,0.000000,0.000000,0.029762,0.000000,0.0,0.0,0.0,0.0
58231,58228,1.663663e+08,-113.103429,49.481403,1044.178101,0.00285,37256.337498,0.000000,0.0,0.0,...,0.012413,0.001052,0.002104,0.002104,0.003577,0.000000,0.0,0.0,0.0,0.0
58184,58183,1.750700e+07,-112.859951,49.577578,924.506165,0.00001,4020.941947,0.000000,0.0,0.0,...,0.008081,0.000000,0.000000,0.000000,0.050505,0.000000,0.0,0.0,0.0,0.0
58228,58183,2.611930e+07,-112.932045,49.556180,947.332703,0.00483,11789.842472,0.000000,0.0,0.0,...,0.009358,0.001337,0.000000,0.000000,0.022727,0.002674,0.0,0.0,0.0,0.0
58183,0,3.652090e+07,-112.919857,49.598073,921.890625,0.00242,8135.825627,0.000000,0.0,0.0,...,0.020893,0.005698,0.000000,0.000000,0.015195,0.011396,0.0,0.0,0.0,0.0

### Write CatchGroup (St. Mary= 1, Milk= 2)

In [6]:
# Assuming 'original_df' is your original DataFrame
geodata_index = geodata.index
geodata_index = [int(index) for index in geodata_index]
# Create a new DataFrame with the same index
# catchgroup = pd.DataFrame(index=geodata_index)

# Add the 'region' column with default values (you can adjust them as needed)
# catchgroup['region'] = 2

# convert St. Mary list to int
stmary_seg = [int(item) for item in stmary_seg]

# Iterate through the index and update the 'region' column where values match with the list
for index_value in geodata_index:
    if index_value in stmary_seg:
        catchgroup.loc[index_value, 'region'] = 1

# Save the DataFrame to a text file without index or headers
catchgroup.to_csv('../model/CatchGroup.txt', index=False, header=False)

### Write CatchDes

In [7]:
catchdes = pd.DataFrame(index=geodata_index)

In [8]:
# Add a column called 'intercept' filled with values of 1
catchdes['intercept'] = 1

In [9]:
# Add columns called damp and rivvel filled with values of 0.4 and 4.95
catchdes['damp'] = 0.4
catchdes['rivvel'] = 4.95

# Add columns 'elev_mean' and 'slope_mean' from geodata
catchdes['elev_mean'] = geodata['elev_mean']
catchdes['slope_mean'] = geodata['slope_mean']

# Add three new columns filled with values of 5
catchdes['epotdist_coef'] = 5
catchdes['lp_coef'] = 5
catchdes['rrcs3_coef'] = 5

In [10]:
catchdes

       intercept  damp  rivvel
58675          1   0.4    4.95
58674          1   0.4    4.95
58673          1   0.4    4.95
58672          1   0.4    4.95
58671          1   0.4    4.95
...          ...   ...     ...
58185          1   0.4    4.95
58231          1   0.4    4.95
58184          1   0.4    4.95
58228          1   0.4    4.95
58183          1   0.4    4.95

[473 rows x 3 columns]

In [12]:
# Save the DataFrame to a text file with no index or header
catchdes.to_csv('../model/CatchDes.txt', index=False, header=False, sep='\t')

In [13]:
# Manually add a header indicating the number of columns
with open('../model/CatchDes.txt', 'r+') as f:
    # Read the content of the file
    content = f.read()
    # Move the cursor to the beginning of the file
    f.seek(0, 0)
    # Write the header indicating the number of columns
    f.write(f'{len(catchdes.columns)}\n' + content)

### Write reg_par

In [24]:
# Repeat each string twice
reg_par_index = []
for string in global_par:
    reg_par_index.extend([string, string])

In [25]:
# Create a DataFrame
reg_par = pd.DataFrame(index=reg_par_index, columns=['1'])

In [26]:
reg_par

          1
damp    NaN
damp    NaN
rivvel  NaN
rivvel  NaN

In [42]:
# Save the DataFrame to a text file with an index and no header
reg_par.to_csv('../model/reg_par.txt', index=True, header=False)

In [43]:
# Add a header to the text file indicating the number of values in string_list
with open('../model/reg_par.txt', 'r+') as f:
    content = f.read()
    f.seek(0, 0)
    f.write(f'{len(global_par)}\n' + content)