In [1]:
import pandas as pd
import pyarrow.feather as feather
import geopandas as gpd

In [2]:
# Replace 'your_file_path.feather' with the path to your .feather file
df = feather.read_feather('./OneDrive_1_2-8-2024/SMM_PRMS_HRUs_SCA.feather')

In [4]:
# Set the 'datetime' column as the index
df.set_index('datetime', inplace=True)

In [5]:
# Remove 'nhmHRU' prefix and convert the remaining part to an integer for each column name
df.columns = [int(col.replace('nhmHRU', '')) for col in df.columns]

In [6]:
df

,95965,95966,95968,95969,95970,95974,95977,95979,95980,95981,...,97344,97345,97346,97347,97348,97349,97350,97351,97352,97353
datetime,,,,,,,,,,,,,,,,,,,,,
2002-07-04,0.080785,0.054483,0.000000,0.000000,0.000000,0.000000,0.000000,0.020047,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
2002-07-05,0.311236,0.231287,0.265970,0.556889,0.529631,0.749639,1.000000,0.031353,0.586092,0.046071,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
2002-07-06,0.156025,0.173476,0.323289,0.705117,0.586176,0.936805,0.400247,0.011723,0.672757,0.035721,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
2002-07-07,0.384022,0.424481,0.431465,0.941708,0.994409,0.950450,0.994701,0.067706,0.805815,0.066703,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
2002-07-08,0.380525,0.420734,0.431465,0.941708,0.994409,0.950450,0.994701,0.083207,0.805815,0.066703,...,0.0,0.0,0.0,0.060984,0.0,0.0,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-21,0.073281,0.037618,0.143361,0.206260,0.249878,0.092424,0.000000,0.053784,0.059170,0.085680,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.071732,0.000000
2023-09-22,0.073281,0.037618,0.143361,0.206260,0.249878,0.092424,0.000000,0.053784,0.059170,0.085680,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.017925,0.198983,0.071732,0.000129
2023-09-23,0.073281,0.037618,0.143361,0.206260,0.249878,0.092424,0.000000,0.053784,0.059170,0.085680,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.017925,0.198983,0.071732,0.000129
2023-09-24,0.267162,0.268082,0.038038,0.121233,0.295194,0.153180,0.860899,0.066898,0.392515,0.100937,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.017925,0.198983,0.071732,0.000129
2023-09-25,0.266076,0.268082,0.038038,0.121233,0.295194,0.153180,0.860899,0.066898,0.392515,0.100937,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.017925,0.198983,0.071732,0.000129

In [7]:
gdf = gpd.read_file('./PRMS_validated_shapefile/PRMS_corrected_shapefile.shp')

In [8]:
gdf

     nhm_id  model_hru_                                           geometry
0     95965           1  POLYGON ((-113.46355 48.61646, -113.46592 48.6...
1     95966           2  POLYGON ((-113.52107 48.73869, -113.51718 48.7...
2     95968           3  POLYGON ((-113.69379 48.77102, -113.69365 48.7...
3     95969           4  POLYGON ((-113.69379 48.77102, -113.69439 48.7...
4     95970           5  POLYGON ((-113.69365 48.77101, -113.69379 48.7...
..      ...         ...                                                ...
904   96139          53  POLYGON ((-113.06368 49.35959, -113.05747 49.3...
905   96959         549  POLYGON ((-112.72767 48.96689, -112.72705 48.9...
906   96978         568  POLYGON ((-112.77188 48.99852, -112.77132 48.9...
907   97007         597  POLYGON ((-112.94677 48.95766, -112.94804 48.9...
908   97013         603  POLYGON ((-112.90212 49.14925, -112.90110 49.1...

[909 rows x 3 columns]

In [10]:
# Create a mapping dictionary from 'hru_nhm' to 'seg_nhm'
mapping_dict = dict(zip(gdf['nhm_id'], gdf['model_hru_']))

In [12]:
# Rename columns in the DataFrame using the mapping dictionary
df.rename(columns=mapping_dict, inplace=True)

In [13]:
# Convert row index to datetime
df.index = pd.to_datetime(df.index)

# Trim anything later than 2015-12-31
df = df[df.index <= '2015-12-31']

In [14]:
df

,1,2,3,4,5,6,7,8,9,10,...,900,901,902,903,904,905,906,907,908,909
datetime,,,,,,,,,,,,,,,,,,,,,
2002-07-04,0.080785,0.054483,0.000000,0.000000,0.000000,0.000000,0.000000,0.020047,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.00000
2002-07-05,0.311236,0.231287,0.265970,0.556889,0.529631,0.749639,1.000000,0.031353,0.586092,0.046071,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.00000
2002-07-06,0.156025,0.173476,0.323289,0.705117,0.586176,0.936805,0.400247,0.011723,0.672757,0.035721,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.00000
2002-07-07,0.384022,0.424481,0.431465,0.941708,0.994409,0.950450,0.994701,0.067706,0.805815,0.066703,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.00000
2002-07-08,0.380525,0.420734,0.431465,0.941708,0.994409,0.950450,0.994701,0.083207,0.805815,0.066703,...,0.0,0.0,0.0,0.060984,0.0,0.0,0.0,0.0,0.000000,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-27,0.940987,0.881041,0.859910,1.000000,1.000000,1.000000,1.000000,0.947511,1.000000,0.994284,...,1.0,1.0,1.0,1.000000,1.0,1.0,1.0,1.0,1.000000,1.00000
2015-12-28,0.942073,0.881041,0.859910,1.000000,1.000000,1.000000,1.000000,0.947511,1.000000,0.994284,...,1.0,1.0,1.0,1.000000,1.0,1.0,1.0,1.0,1.000000,1.00000
2015-12-29,0.942073,0.881041,0.859910,1.000000,1.000000,1.000000,1.000000,0.947511,1.000000,0.994284,...,1.0,1.0,1.0,1.000000,1.0,1.0,1.0,1.0,1.000000,1.00000
2015-12-30,0.944148,0.881179,0.859910,1.000000,1.000000,1.000000,1.000000,0.947511,1.000000,0.994658,...,1.0,1.0,1.0,1.000000,1.0,1.0,1.0,1.0,1.000000,1.00000
2015-12-31,0.944148,0.881179,0.859910,1.000000,1.000000,1.000000,1.000000,0.947511,1.000000,0.994658,...,1.0,1.0,1.0,1.000000,1.0,1.0,1.0,1.0,0.999412,0.99926