In [1]:
import pandas as pd
import geopandas as gpd

### Inputs

In [2]:
# Read hype precipitation
prec = pd.read_csv('../../model/results/timePREC_DD.txt',delimiter='\t',index_col=0,skiprows=1)

In [3]:
# Read hype ET
evap = pd.read_csv('../../model/results/timeEVAP_DD.txt',delimiter='\t',index_col=0,skiprows=1)

In [4]:
# read internal lake volume
vol = pd.read_csv('../../model/results/timeCILV_DD.txt',delimiter='\t',index_col=0,skiprows=1)

In [5]:
# read modified shapefile
gdf = gpd.read_file('../../geospacial/shapefiles/modified_shapefiles/Modified_SMMcat.shp')

### Analysis

In [6]:
# Convert GeoDataFrame to DataFrame
area = gdf[['seg_nhm', 'Shape_Area']].copy()

# Set 'seg_nhm' as index
area.set_index('seg_nhm', inplace=True)

# Rename 'Shape Area' column to remove space
area.rename(columns={'Shape_Area': 'area'}, inplace=True)

In [7]:
area

                 area
seg_nhm
58183    3.652090e+07
58184    1.750700e+07
58185    5.667200e+06
58186    3.803350e+07
58188    2.801800e+06
...               ...
58671    3.860121e+08
58672    9.586554e+08
58673    2.876408e+08
58674    2.727878e+08
58675    2.730521e+08

[473 rows x 1 columns]

In [8]:
# Convert index to datetime
prec.index = pd.to_datetime(prec.index)
evap.index = pd.to_datetime(evap.index)

In [9]:
# find total prec and evap
total_prec = prec.sum()
total_prec = pd.DataFrame(total_prec, columns=['Sum'])

total_evap= evap.sum()
total_evap = pd.DataFrame(total_evap, columns=['Sum'])

In [10]:
# convert prec and evap to m
total_prec = total_prec / 1000
total_evap = total_evap / 1000

In [11]:
# Convert index to integer
total_prec.index = total_prec.index.astype(int)
total_evap.index = total_evap.index.astype(int)
area.index = area.index.astype(int)

In [12]:
# Multiply each value in 'prec_df' by the corresponding value in the 'Area' column
total_prec = total_prec.multiply(area['area'], axis='index') # m3
total_evap = total_evap.multiply(area['area'], axis='index') # m3