In [1]:
import pandas as pd

### Inputs

In [2]:
# Read basin ET
et = pd.read_csv('./ET_Time_Series_Full_Basin.csv',delimiter=',',index_col=0)

In [3]:
# Read  hype ET
hype = pd.read_csv('../../model/results/timeEVAP_DD.txt',delimiter='\t',index_col=0,skiprows=1)

### Analysis

In [4]:
# Sum the columns to get basin ET
hype_basin_et = hype.sum(axis=1)

# Create a new DataFrame for basin ET
hype_basin_et_df = pd.DataFrame({'Basin_ET': hype_basin_et})

In [5]:
hype_basin_et_df

            Basin_ET
DATE
1980-01-01     0.600
1980-01-02     0.412
1980-01-03     5.551
1980-01-04     7.358
1980-01-05     7.636
...              ...
2015-12-27    22.325
2015-12-28    36.920
2015-12-29    21.249
2015-12-30    34.687
2015-12-31    47.272

[13149 rows x 1 columns]

In [6]:
# Drop all columns except 'ET' and 'month'
columns_to_keep = ['ET']
et = et[columns_to_keep]

In [7]:
# Extract the index (assuming the index is the first column)
index_values = et.index

# Remove 'A' from the index and convert the rest to datetime
index_values = index_values.str[1:]  # Remove the 'A'
index_values = pd.to_datetime(index_values, format='%Y%j')  # Convert to datetime

# Assign the modified index back to the DataFrame
et.index = index_values

In [18]:
# Convert index to datetime
hype_basin_et_df.index = pd.to_datetime(hype_basin_et_df.index)

In [19]:
start_date = et.index.min()
end_date = et.index.max()

In [20]:
hype_basin_et_df_trimmed = hype_basin_et_df[start_date:end_date]

In [22]:
# Resample both DataFrames to monthly frequency by summing
et_monthly = et.resample('M').sum()
hype_basin_et_df_monthly = hype_basin_et_df_trimmed.resample('M').sum()